<odoo>
    <menuitem id="menu_sxetap_root" name="Gestión de Notas" sequence="10"/>

    <menuitem id="menu_sxetap_curso" name="Cursos" parent="menu_sxetap_root" sequence="20" action="action_curso_tree"/>
    <menuitem id="menu_sxetap_ciclo" name="Ciclos" parent="menu_sxetap_root" sequence="30" action="action_ciclo_tree"/>
    <menuitem id="menu_sxetap_modulo" name="Módulos" parent="menu_sxetap_root" sequence="40" action="action_modulo_tree"/>
    <menuitem id="menu_sxetap_nota" name="Notas" parent="menu_sxetap_root" sequence="50" action="action_nota_tree"/>

    <record id="action_curso_tree" model="ir.actions.act_window">
        <field name="name">Cursos</field>
        <field name="res_model">sxetap.curso</field>
        <field name="view_mode">tree</field>
    </record>

    <record id="action_ciclo_tree" model="ir.actions.act_window">
        <field name="name">Ciclos</field>
        <field name="res_model">sxetap.ciclo</field>
        <field name="view_mode">tree</field>
    </record>

    <record id="action_modulo_tree" model="ir.actions.act_window">
        <field name="name">Módulos</field>
        <field name="res_model">sxetap.modulo</field>
        <field name="view_mode">tree</field>
    </record>

    <record id="action_nota_tree" model="ir.actions.act_window">
        <field name="name">Notas</field>
        <field name="res_model">sxetap.nota</field>
        <field name="view_mode">tree,graph</field>
    </record>
</odoo>
